<div class="container" style="height: 100vh;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-8">
            <div class="card p-5">
                <h1 class="mb-4">
                    <%- title = "SUCESSO!" %>
                </h1>

                <div class="d-flex justify-content-center">
                    <a href="/" type="submit" class="btn mt-3 px-5 py-3">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
